<div mat-dialog-title class="dialog-title" cdkDrag
     cdkDragRootElement=".cdk-overlay-pane"
     cdkDragHandle  style="display: inline-block"
     cdkDragBoundary=".cdk-overlay-container">
  <h1>{{ title }}</h1>
  <button mat-button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  {{message}}
</div>
<mat-dialog-actions align="end">
  <button mat-raised-button type="button" (click)="decline()">
    Anuluj
  </button>
  <button mat-button type="button" (click)="accept()">
    Potwierdź
  </button>
</mat-dialog-actions>
