<div class="content" style="margin: 25px;min-height: 79.5vh;">
  <div style="display: grid; position: relative;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);">
    <div style="grid-column: 1; grid-row: 1 / span 3;">
      <mat-card>
        <mat-card-title>Użytkownicy</mat-card-title>
        <mat-card-content>
          <div *ngFor="let user of users">
            <button mat-button class="menu-button" title="Zarządzaj" [mat-menu-trigger-for]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="openRoleChooser(user)">Zarządzaj rolami</button>
              <button mat-menu-item>Zarządzaj zespołami</button>
            </mat-menu>
            <span>{{user.username}}</span>
          </div>
          <mat-paginator [pageSizeOptions]="[5, 10, 25]" [pageSize]="10" [length]="totalUsersElements" (page)="nextUsersPage($event)"> </mat-paginator>
        </mat-card-content>
      </mat-card>
    </div>
    <div style="grid-column: 2/ span 3 ; grid-row: 1 / span 3;">
      <mat-card>
        <mat-card-title>Zespoły</mat-card-title>
        <mat-card-content>
          <div *ngFor="let team of teams">
            <button>{{team}}</button>
          </div>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button title="Dodaj" (click)="openTeamForm()"><mat-icon>add</mat-icon></button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div style="grid-column: 1; grid-row: 4 / span 7;">
      <mat-card>
        <mat-card-title>Role w {{organisation.name}}</mat-card-title>
        <mat-card-content>
          <div *ngIf="roles.length==0">
            <span>Brak zdefiniowanych ról w twojej organizacji! Dodaj je, klikając +</span>
          </div>
          <div *ngFor="let role of roles">
            <button mat-button class="menu-button" title="Zarządzaj" (click)="editRoleForm(role)">
              <mat-icon>edit</mat-icon>
            </button>
            <span>{{role.name}} - <mat-icon>{{role.iconName}}</mat-icon></span>
          </div>
          <mat-paginator [pageSizeOptions]="[5, 10, 25]" [pageSize]="10" [length]="totalRolesElements" (page)="nextRolesPage($event)"> </mat-paginator>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button title="Dodaj" (click)="openRoleForm()"><mat-icon>add</mat-icon></button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
