<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
<mat-card class="box">
  <mat-card-header>
    <mat-card-title>Logowanie</mat-card-title>
  </mat-card-header>
  <mat-card-content style="margin-top: 50px">
    <form class="example-form" *ngIf="!isLoggedIn || orgCreation" name="form" [formGroup]="form" (submit)="onSubmit()">
      <div class="form-group">
        <mat-form-field class="example-full-width">
          <mat-label>Login użytkownika</mat-label>
          <input matInput formControlName="username" name="username" required>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="example-full-width">
          <mat-label>Hasło</mat-label>
          <input matInput formControlName="password" type="password" name="password" required>
        </mat-form-field>
      </div>
      <div class="form-group">
        <button mat-stroked-button color="primary" type="submit" class="btn-block">Zaloguj się</button>
      </div>
      <div style="margin: 10px">
        <span style="padding: 10px">Zapomniałeś hasła? <a href="/reset-password">Zresetuj hasło</a></span>
      </div>
      <div style="margin: 10px">
        <span style="padding: 10px">Nie masz konta? <a href="/register">Zarejestruj się</a></span>
      </div>
    </form>
  </mat-card-content>
</mat-card>
</div>
