<div class="container" style="min-height: 75vh; margin: 50px">
  <div style="margin: 10px; text-align: left">
    <h1 class="text-uppercase text-letter-spacing-xs my-0 text-primary font-weight-bold">Wydajność</h1>
  </div>
  <mat-card style="float: left">
    <mat-card-title>Wykonane dzisiaj zadania</mat-card-title>
    <mat-card-content>
      <div style="display: block">
        <canvas id="todayChart" width="400" height="400"></canvas>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card style="float: left; margin-left: 50px">
    <mat-card-title>Nakład pracy z ostatnich 30 dni</mat-card-title>
    <mat-card-content>
      <div>
        <canvas id="last30days" width="400" height="400"></canvas>
      </div>
    </mat-card-content>
  </mat-card>

</div>
