<div *ngIf="dataExist">
  <div mat-dialog-title class="dialog-title" cdkDrag
       cdkDragRootElement=".cdk-overlay-pane"
       cdkDragHandle  style="display: inline-block">
    Edytuj profil
  </div>
  <form [formGroup]="form" (submit)="onSubmit()">
    <div mat-dialog-content>
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Imię</mat-label>
          <input matInput name="name" formControlName="name" required>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Nazwisko</mat-label>
          <input matInput name="surname" formControlName="surname" required>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Twoje bio</mat-label>
          <input matInput name="bio" formControlName="bio">
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Nazwa użytkownika</mat-label>
          <input matInput name="username" formControlName="username">
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput type="email" name="email" formControlName="email" required>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Hasło</mat-label>
          <input matInput type="password" name="password" formControlName="password" required>
        </mat-form-field>
      </div>
    </div>
    <mat-dialog-actions align="end">
      <button mat-raised-button title="Zapisz" type="submit">
        Zapisz
      </button>
      <button mat-button mat-dialog-close>
        Anuluj
      </button>
    </mat-dialog-actions>
  </form>
</div>
<div *ngIf="!dataExist">
  <span>Brak danych do edycji!</span>
</div>
