<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Ustaw nowe hasło!</mat-card-title>
    </mat-card-header>
    <mat-card-content style="margin-top: 50px">
      <form class="example-form" name="form" [formGroup]="form" (submit)="resetPassword()">
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <mat-label>Nowe hasło</mat-label>
            <input matInput type="password" formControlName="password" name="password" required>
            <mat-error *ngIf="form.hasError('required', 'password')">
              Wprowadź nowe hasło!
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Powtórz hasło</mat-label>
            <input matInput type="password" formControlName="repassword" name="repassword" required [errorStateMatcher]="matcher">
            <mat-error *ngIf="form.hasError('notSame')">
              Wprowadzone hasło nie jest identyczne!
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <button mat-stroked-button color="primary" type="submit" class="btn-block">Wyślij</button>
        </div>
      </form>
      <!--<mat-spinner></mat-spinner>-->
    </mat-card-content>
  </mat-card>
</div>
