<section id="about" class="hero d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up">Kompaktowe narzędzie do zarządzania projektem IT</h1>
        <h2 data-aos="fade-up" data-aos-delay="400">Zapomnij o żmudnym planowaniu pracy dla twoich zespołów, nasza aplikacja zrobi to za ciebie - i to za darmo!</h2>
        <div data-aos="fade-up" data-aos-delay="600">
          <div class="text-center text-lg-start">
            <a href="#services">
              <button type="button" class="btn btn-success btn-lg">Dowiedz się więcej</button>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="assets/img/chart.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</section>

<main id="main">
  <!-- ======= Services Section ======= -->
  <section id="services" class="services">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Funkcjonalność</h2>
        <p>Czym nasza aplikacja cię zaskoczy</p>
      </header>

      <div class="row gy-4">

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="service-box blue">
            <i class="bi-calendar-check-fill fa-9x"></i>
            <h3>Dynamiczne zarządzanie</h3>
            <p>Automatycznie przekazuj nowe zadania dla wydajnych zespołów.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="service-box orange">
            <i class="bi-camera-video-fill fa-9x"></i>
            <h3>Podgląd na żywo</h3>
            <p>Bądź na bieżąco z postępami, nie przerywając twórczego flow pracowników</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
          <div class="service-box green">
            <i class="bi-book-fill fa-9x"></i>
            <h3>Wspomaganie rozwoju pracowników</h3>
            <p>Utrzymywanie biblioteki uniwersalnych rozwiązań programistycznych, oznaczonych przez doświadczonych pracowaników</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
          <div class="service-box red">
            <i class="bi-megaphone-fill fa-9x"></i>
            <h3>Alerty wydajności</h3>
            <p>Task nie progresuje od jakiegoś czasu? Przydzielaj konsultantów do konkretnych dziedzin, aby uniknąć zastojów.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
          <div class="service-box purple">
            <i class="bi-newspaper fa-9x"></i>
            <h3>Chat</h3>
            <p>Wbudowany chat umożliwi twojemu zespołowi szybką komunikację, bez konieczności sięgania po inne narzędzia</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
          <div class="service-box pink">
            <i class="bi-check-square fa-9x"></i>
            <h3>Grafik live</h3>
            <p>Komunikuj w jasny i przejrzysty sposób o nowych zadaniach, dzięki inowacyjnemu grafikowi</p>
          </div>
        </div>

      </div>
    </div>
  </section>

  <div *ngIf="isLoggedIn">
    <section id="start" class="hero d-flex align-items-center">
      <div class="container" data-aos="fade-up">
        <header class="section-header">
          <h1>Zarządzaj swoimi zadaniami już teraz</h1>
          <a href="/home" class="nav-link"><button type="button" class="btn btn-success btn-lg" >Otwórz dashboard</button></a>
        </header>
      </div>
    </section>
  </div>
  <div *ngIf="!isLoggedIn">
    <section id="start" class="hero d-flex align-items-center">
      <div class="container" data-aos="fade-up">
        <header class="section-header">
          <h1>Gotowy na optymalizacje twoich projektów?</h1>
          <a href="/login" class="nav-link"><button type="button" class="btn btn-success btn-lg" >Zacznij teraz</button></a>
        </header>
      </div>
    </section>
  </div>
</main><!-- End #main -->

