<div class="container">
  <p>Główny panel z zadaniami użytkownika</p>
  <div class="position-absolute bottom-0 end-0" style="margin: 15px">
    <button type="button" class="btn btn-danger position-relative" style="border-radius: 30px;" (click)="showContacts()">
      <i class="bi-megaphone-fill fa-1x"></i>
      <span class="position-absolute top-0 start-0 translate-middle badge rounded-pill bg-secondary">+3 <span class="visually-hidden">unread messages</span></span>
    </button>
  </div>


</div>

