<div class="container" style="min-height: 75vh; margin: 50px">
    <div style="margin: 10px; text-align: left">
      <h1 class="text-uppercase text-letter-spacing-xs my-0 text-primary font-weight-bold">Moje zadania</h1>
    </div>
  <mat-tab-group mat-align-tabs="center" animationDuration="2000ms" (selectedTabChange)="onTabChanged($event)" style="min-height: 70%" dynamicHeight>
    <mat-tab label="Dzień">
      <!-- Days -->
      <div class="row">
        <div class="col-lg-4 mb-3">
          <h4 class="mt-0 mb-3 text-dark op-8 font-weight-bold">
            {{wrapper?.list[0]?.label}}
          </h4>
          <div *ngIf="wrapper?.list[0]?.taskList.length>0">
            <ul class="list-timeline list-timeline-primary">
              <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column" *ngFor="let task of wrapper?.list[0]?.taskList" (click)="openPreview(task)">
                <p class="my-0 text-dark flex-fw text-sm text-uppercase" *ngIf="task?.now"><span class="text-primary font-weight-bold op-8 infinite animated flash" data-animate="flash" data-animate-infinite="1" data-animate-duration="3.5" style="animation-duration: 3.5s;">{{task?.startDate | date: 'HH:mm'}} - {{task?.deadlineDate | date: 'HH:mm'}}</span> - {{task?.title}} <mat-icon *ngIf="task.completed">done</mat-icon></p>
                <p class="my-0 text-dark flex-fw text-sm text-uppercase" *ngIf="!task?.now"><span class="text-inverse op-8">{{task?.startDate | date: 'HH:mm'}} - {{task?.deadlineDate | date: 'HH:mm'}}</span> - {{task?.title}} <mat-icon *ngIf="task.completed">done</mat-icon></p>
              </li>
            </ul>
          </div>
          <div *ngIf="wrapper?.list[0]?.taskList.length==0">
            <span>Brak zadań</span>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Tydzień">
      <!-- Days -->
      <div class="row">
        <div class="col-sm" *ngFor="let day of list" >
          <div style="float: left">
            <h4 class="mt-0 mb-3 text-dark op-8 font-weight-bold">
              {{day?.label}}
            </h4>
            <div *ngIf="day?.taskList.length>0">
              <ul class="list-timeline list-timeline-primary">
                <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column" *ngFor="let task of day?.taskList" (click)="openPreview(task)">
                  <p class="my-0 text-dark flex-fw text-sm text-uppercase" *ngIf="task?.now"><span class="text-primary font-weight-bold op-8 infinite animated flash" data-animate="flash" data-animate-infinite="1" data-animate-duration="3.5" style="animation-duration: 3.5s;">{{task?.startDate | date: 'HH:mm'}} - {{task?.deadlineDate | date: 'HH:mm'}}</span> - {{task?.title}} <mat-icon *ngIf="task.completed">done</mat-icon></p>
                  <p class="my-0 text-dark flex-fw text-sm text-uppercase" *ngIf="!task?.now"><span class="text-inverse op-8">{{task?.startDate | date: 'HH:mm'}} - {{task?.deadlineDate | date: 'HH:mm'}}</span> - {{task?.title}} <mat-icon *ngIf="task.completed">done</mat-icon></p>
                </li>
              </ul>
            </div>
            <div *ngIf="day?.taskList.length==0">
              <span>Brak zadań</span>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Miesiąc">
      <!-- Days -->
      <div class="row">
        <div class="col-sm" *ngFor="let day of list">
          <div style="float: left">
            <h4 class="mt-0 mb-3 text-dark op-8 font-weight-bold">
              {{day?.label}}
            </h4>
            <div *ngIf="day?.taskList.length>0">
              <ul class="list-timeline list-timeline-primary">
                <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column" *ngFor="let task of day?.taskList" (click)="openPreview(task)">
                  <p class="my-0 text-dark flex-fw text-sm text-uppercase" *ngIf="task?.now"><span class="text-primary font-weight-bold op-8 infinite animated flash" data-animate="flash" data-animate-infinite="1" data-animate-duration="3.5" style="animation-duration: 3.5s;">{{task?.startDate | date: 'HH:mm'}} - {{task?.deadlineDate | date: 'HH:mm'}}</span> - {{task?.title}} <mat-icon *ngIf="task.completed">done</mat-icon></p>
                  <p class="my-0 text-dark flex-fw text-sm text-uppercase" *ngIf="!task?.now"><span class="text-inverse op-8">{{task?.startDate | date: 'HH:mm'}} - {{task?.deadlineDate | date: 'HH:mm'}}</span> - {{task?.title}} <mat-icon *ngIf="task.completed">done</mat-icon></p>
                </li>
              </ul>
            </div>
            <div *ngIf="day?.taskList.length==0">
              <span>Brak zadań</span>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>

  </mat-tab-group>
</div>

