<div class="container" style="min-height: 75vh; margin: 50px">
  <div style="margin: 10px; text-align: left">
    <h1 class="text-uppercase text-letter-spacing-xs my-0 text-primary font-weight-bold">Biblioteka rozwiązań</h1>
  </div>
  <div class="mat-elevation-z8">
    <div class="container" style="margin: 15px; display: flex;
  justify-content: space-between;">
      <div style="text-align: left">
        <mat-form-field>
          <input matInput (keyup.enter)="applyFilter($event)" placeholder="Szukaj">
        </mat-form-field>
      </div>
    </div>
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="action">
        <tr><th mat-header-cell *matHeaderCellDef> </th></tr>
        <tr>
          <td mat-cell *matCellDef="let row" style="width:20%">
            <button mat-icon-button color="primary" title="Podgląd" (click)="openPreview(row)"><mat-icon>preview</mat-icon></button>
            <button mat-icon-button color="primary" title="Edytuj" (click)="edit(row)" *ngIf="canEdit"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button color="primary" title="Odznacz rozwiązanie" (click)="removeBookmark(row)" *ngIf="!row?.example"><mat-icon>star</mat-icon></button>
          </td>
        <tr>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="task_title">
        <th mat-header-cell *matHeaderCellDef>Zadanie</th>
        <td mat-cell *matCellDef="let element"> {{element?.task?.title}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Rodzaj </th>
        <td mat-cell *matCellDef="let element"> {{element?.type}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Opis </th>
        <td mat-cell *matCellDef="let element"> {{element?.description}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="creationDate">
        <th mat-header-cell *matHeaderCellDef> Data utworzenia </th>
        <td mat-cell *matCellDef="let element"> {{element.creationDate | date:'dd-MM-yyyy'}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #paginator [length]="totalElements"
                   [pageSizeOptions]="[5, 10, 25]" [pageSize]="10" (page)="nextPage($event)" aria-label="Wybierz stronę">
    </mat-paginator>
  </div>
</div>
