<section class="myform-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="form-area login-form">
          <div class="form-content">
            <h2>Ważne</h2>
            <p>Podaj swój email przypisany do twojego konta. Na czas nadawania twojego nowego hasła, twoje konto zostaje dezaktywowane!</p>
            <div *ngIf="success">
              <p style="margin: 20px">Kliknij w link przesłany na podany adres aby zmienić hasło!</p>
            </div>
          </div>
          <div class="form-input">
            <h2>Resetowanie hasła</h2>
            <form name="form" (ngSubmit)="f.form.valid && resetPassword()"#f="ngForm" novalidate>
              <div class="form-group">
                <input type="email"  id="email" name="email" [(ngModel)]="form.email" required #email="ngModel">
                <label>Email użytkownika</label>
              </div>
              <div class="myform-button">
                <button class="myform-btn" (click)="resetPassword()">Wyślij</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
