<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Rejestracja</mat-card-title>
    </mat-card-header>
    <mat-card-content style="margin-top: 50px">
      <div *ngIf="!isSuccessful">
        <form class="example-form" name="form" [formGroup]="form" (submit)="onSubmit()">
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input matInput type="text"  id="name" name="name" formControlName="name" required>
              <mat-label>Imię</mat-label>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input matInput type="text"  id="surname" name="surname" formControlName="surname" required>
              <mat-label>Nazwisko</mat-label>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input matInput type="email"  id="email" name="email" formControlName="email" required>
              <mat-label>Email</mat-label>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <mat-label>Login użytkownika</mat-label>
              <input matInput formControlName="username" name="username" required>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <mat-label>Hasło</mat-label>
              <input matInput formControlName="password" type="password" name="password" required>
            </mat-form-field>
          </div>
          <mat-form-field class="example-full-width">
            <mat-label>Powtórz hasło</mat-label>
            <input matInput type="password" formControlName="rePassword" name="rePassword" required [errorStateMatcher]="matcher">
            <mat-error *ngIf="form.hasError('notSame')">
              Wprowadzone hasło nie jest identyczne!
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Kod organizacji</mat-label>
            <input matInput type="text" formControlName="inviteCode" name="inviteCode">
          </mat-form-field>
          <div class="form-group">
            <button mat-stroked-button color="primary" type="submit" class="btn-block">Zarejestruj się</button>
          </div>
          <div style="margin: 10px">
            <span style="padding: 10px">Posiadasz już konto? <a href="/login">Zaloguj się</a></span>
          </div>
          <div class="alert alert-warning" *ngIf="isSignUpFailed">
            Rejestracja nieudana!<br />{{ errorMessage }}
          </div>
        </form>
      </div>
      <div class="alert alert-success" *ngIf="isSuccessful">
       <span>Zarejestrowałeś się poprawnie! Aktywuj konto z linku przesłanego na podany email!</span>
      </div>
    </mat-card-content>
  </mat-card>
</div>

