<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a href="/" class="navbar-brand"><h3>MagIT</h3></a>
  <ul class="navbar-nav mr-auto" routerLinkActive="active">
    <li class="nav-item">
      <a href="#about" class="nav-link"><h4>O aplikacji</h4></a>
    </li>
  </ul>
  <div class="nav-item" ngbDropdown >
    <button class="btn btn-warning" tabindex="0" id="navbarDropdown2" ngbDropdownToggle style="float:right;">Konto</button>
    <div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu dropdown-menu-end" *ngIf="!isLoggedIn">
      <a ngbDropdownItem href="/login" class="nav-link" routerLink="login">Zaloguj się</a>
      <a ngbDropdownItem href="/register" class="nav-link" routerLink="register">Zarejestruj się</a>
    </div>
    <div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu dropdown-menu-end" *ngIf="isLoggedIn">
      <a ngbDropdownItem href="#" (click)="logout()">Wyloguj się</a>
      <a ngbDropdownItem href="/login" class="nav-link" routerLink="add-job-offer">Zarządzaj swoim profilem</a>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer class="bg-dark text-center text-white">
  <div class="copyright py-4 text-center text-white">
    <div class="container">
      <small>Prawa autorskie: Dawid Kańtoch, Politechnika Śląska &copy; Praca inżynierska 2022</small>
    </div>
  </div>
</footer>

