<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a href="/" class="navbar-brand"><h3>MagIT</h3></a>
  <ul class="navbar-nav mr-auto" routerLinkActive="active">
    <li class="nav-item">
      <a href="#about" class="nav-link"><h4>O aplikacji</h4></a>
    </li>
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Panel rekrutera</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <a href="/add-job-offer" class="nav-link" routerLink="add-job-offer"><button ngbDropdownItem>Dodaj ogłoszenie</button></a>
        <a href="/manage-offers" class="nav-link" routerLink="manage-offers"><button ngbDropdownItem>Zarządzaj kampaniami</button></a>
        <a href="/edit-company" class="nav-link" routerLink="edit-company"><button ngbDropdownItem>Zarządzaj panelem firmy</button></a>
      </div>
    </div>
  </ul>

  <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
    <li class="nav-item">
      <a href="/login" class="nav-link" routerLink="login"><h4>Zaloguj się</h4></a>
    </li>
    <li class="nav-item">
      <a href="/register" class="nav-link" routerLink="register"><h4>Zarejestruj się</h4></a>
    </li>
  </ul>

  <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
    <li class="nav-item">
      <a href="/profile" class="nav-link" routerLink="profile" title="Zarządzaj swoim profilem"></a>
    </li>
    <li class="nav-item">
      <a href class="nav-link" (click)="logout()">Wyloguj się</a>
    </li>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer class="bg-dark text-center text-white">
  <div class="copyright py-4 text-center text-white">
    <div class="container">
      <small>Prawa autorskie: Dawid Kańtoch, Politechnika Śląska &copy; Praca inżynierska 2022</small>
    </div>
  </div>
</footer>

