
  <div mat-dialog-title class="dialog-title" cdkDrag
       cdkDragRootElement=".cdk-overlay-pane"
       cdkDragHandle  style="display: inline-block"
       cdkDragBoundary=".cdk-overlay-container">
    <span *ngIf="editMode">Edytuj rolę</span>
    <span *ngIf="!editMode">Dodaj rolę</span>
  </div>
  <form [formGroup]="form" (submit)="onSubmit()">
    <div mat-dialog-content>
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Nazwa</mat-label>
          <input matInput name="name" formControlName="name" required>
        </mat-form-field>
      </div>
      <mat-form-field appearance="fill">
        <mat-label>Ikona</mat-label>
        <mat-select formControlName="iconName" required >
          <mat-option *ngFor="let icon of roleIcons" [value]="icon">
            <mat-icon>{{icon}}</mat-icon> - {{icon}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-dialog-actions align="end">
      <button mat-raised-button title="Zapisz" type="submit">
        Zapisz
      </button>
      <button mat-button mat-dialog-close>
        Anuluj
      </button>
    </mat-dialog-actions>
  </form>
